/* FLEX BOX, Justify */
#container{
 height: 300px;
 width: 80%;
 border: 2px solid black;
 margin: 10px;
 background-color: aquamarine;
 display: flex;
 /* flex-direction: row-reverse; */ /* used for reversing */
 /* justify-content:center; */
 justify-content: space-between;
 flex-wrap: wrap;
 /* align-items: flex-end; */
 /* align-content: center; */
 
}
#container div{
    height: 50px;
    width: 300px;
    text-align: center;
    color: white;
    font-size: 1.2em;
}
